# CHAPTER 4
## WQD7002 (P2) 
## WQD170031

## Steps thought of, will need to write them in for chapter 3 of the full report.
<br>1. data understanding - to identify fields important to the analysis (data accuracy etc.)
<br>2. text preprocessing - first remove common word (use nltk?); then perform 1 hot encoding (depending on how data need to be preprocessed to use the association rule library)???
<br>3. market basket analysis - association rule analysis - use pre-written libraries or copy from the coder who wrote his own algo for association rule analysis?
<br>4. evaluation by benchmarking to other metrics - see if high lift or support correspond to high number of lenders lending for the loan (or high amount raised in the crowdfunding) (or lesser time taken to raise the loan)

In [0]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
#try see if the code above stays the same next session
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
!ls '/content/drive/My Drive/kiva data/from build.kiva.org/'

 1718_category_descstat.xlsx    loans_2012.csv
 1718_datetime_descstat.csv     loans_2013.csv
 2017_ARM_avy_nm_lm.csv         loans_2014.csv
 2017_basketset_avy_nm_lm.csv   loans_2015.csv
 2017_FI_avy_nm_lm.csv	        loans_2016.csv
 ARM_avy_nm_lm.csv	        loans_2017.csv
 avy_name_lemma_basket.csv      loans_2017_v2.csv
 avy_name_lemma_wordfreq.xlsx   loans_2018.csv
 avy_name_wordfreq.xls	        loans.csv
 basketset_avy_nm_lm.csv        loans_lenders.csv
 desc_new_lemma_2018.csv        loans_othyr.csv
 FI_avy_nm_lm.csv	        loans_v2.csv
 lenders.csv		        loan_use_lemma_wordfreq.xlsx
 loans_2009.csv		        loan_use_lm2_wordfreq.xlsx
 loans_2010.csv		        tags_wordfreq.xlsx
 loans_2011.csv		       'test using crosstab to gen basket set.xlsx'

In [0]:
my_folder = '/content/drive/My Drive/kiva data/from build.kiva.org/'

In [0]:
import pandas as pd
import numpy as np

In [8]:
df2017.columns

Index(['LOAN_ID', 'LOAN_NAME', 'ORIGINAL_LANGUAGE', 'DESCRIPTION',
       'DESCRIPTION_TRANSLATED', 'FUNDED_AMOUNT', 'LOAN_AMOUNT', 'STATUS',
       'IMAGE_ID', 'VIDEO_ID', 'ACTIVITY_NAME', 'SECTOR_NAME', 'LOAN_USE',
       'COUNTRY_CODE', 'COUNTRY_NAME', 'TOWN_NAME', 'CURRENCY_POLICY',
       'CURRENCY_EXCHANGE_COVERAGE_RATE', 'CURRENCY', 'PARTNER_ID',
       'POSTED_TIME', 'PLANNED_EXPIRATION_TIME', 'DISBURSE_TIME',
       'RAISED_TIME', 'LENDER_TERM', 'NUM_LENDERS_TOTAL',
       'NUM_JOURNAL_ENTRIES', 'NUM_BULK_ENTRIES', 'TAGS', 'BORROWER_NAMES',
       'BORROWER_GENDERS', 'BORROWER_PICTURED', 'REPAYMENT_INTERVAL',
       'DISTRIBUTION_MODEL', 'DESC_TRANSLATED_WORDCOUNT', 'DESC_WORDCOUNT',
       'DESCRIPTION_NEW', 'DESC_NEW_WORDCOUNT', 'LOAN_USE_WORDCOUNT',
       'AVY_NAME_WORDCOUNT', 'N_DESC_TRANSLATED', 'N_DESC', 'N_DESC_NEW',
       'N_BORROWERS', 'N_BORROWERS2', 'GROUP_LOANS', 'N_F_BORROWERS',
       'N_M_BORROWERS', 'HAVE_PICTURE', 'HAVE_VIDEO', 'N_BORROWERS_PICTURED',
       'N_MTH_POSTED_RAISED', 'N_MTH_DISBURSED_POSTED',
       'N_MTH_DISBURSED_EXPIRE', 'N_MTH_POSTED_EXPIRE', 'N_TAGS',
       'D_RAISED_LOANED', 'TAGS_CLEAN_LEMMA', 'TAGS_CLEAN_PS',
       'AVY_NAME_CLEAN_PS', 'LOAN_USE_CLEAN_PS', 'AVY_NAME_CLEAN_LEMMA',
       'LOAN_USE_CLEAN_LEMMA', 'AVY_NAME_CLEAN_LM_WORDCOUNT',
       'AVY_NAME_CLEAN_PS_WORDCOUNT', 'TAGS_CLEAN_LM_WORDCOUNT',
       'TAGS_CLEAN_PS_WORDCOUNT', 'LOAN_USE_CLEAN_LM_WORDCOUNT',
       'LOAN_USE_CLEAN_PS_WORDCOUNT', 'REPORT_DT', 'POSTED_YEAR',
       'N_DAYS_POSTED_RAISED', 'N_HRS_POSTED_RAISED', 'DESC_NEW_CLEAN_LEMMA',
       'DESC_NEW_CLEAN_PS', 'DESC_NEW_CLEAN_LM_WORDCOUNT',
       'DESC_NEW_CLEAN_PS_WORDCOUNT', 'LOAN_USE_LM2', 'LOAN_USE_LM3'],
      dtype='object')

In [0]:
#df2018=pd.read_csv(my_folder+'loans_2018_v3.csv')
#df2017=pd.read_csv(my_folder+'loans_2017_v3.csv')

df2017.groupby(["SECTOR_NAME", "N_BORROWERS",'N_F_BORROWERS']).size().reset_index(name='freq').to_excel(my_folder+'loan breakdowns 2017.xlsx')
df2018.groupby(["SECTOR_NAME", "N_BORROWERS",'N_F_BORROWERS']).size().reset_index(name='freq').to_excel(my_folder+'loan breakdowns 2018.xlsx')

In [18]:
df2017.groupby(["SECTOR_NAME", "STATUS"]).size().reset_index(name='freq')
df2018.groupby(["SECTOR_NAME", "STATUS"]).size().reset_index(name='freq')

       SECTOR_NAME   STATUS   freq
0      Agriculture  expired   3244
1      Agriculture   funded  51622
2             Arts  expired     28
3             Arts   funded   4509
4         Clothing  expired    546
5         Clothing   funded   8575
6     Construction  expired     58
7     Construction   funded   1554
8        Education  expired    232
9        Education   funded   9758
10   Entertainment  expired     14
11   Entertainment   funded    195
12            Food  expired   1460
13            Food   funded  34850
14          Health  expired    134
15          Health   funded   3630
16         Housing  expired    418
17         Housing   funded   9645
18   Manufacturing  expired      2
19   Manufacturing   funded   1432
20    Personal Use  expired    285
21    Personal Use   funded  15633
22          Retail  expired   1533
23          Retail   funded  28238
24        Services  expired    740
25        Services   funded  13549
26  Transportation  expired    380
27  Transportation   funded   3643
28       Wholesale  expired      3
29       Wholesale   funded    165

       SECTOR_NAME   STATUS   freq
0      Agriculture  expired   4484
1      Agriculture   funded  48097
2             Arts  expired     84
3             Arts   funded   4951
4         Clothing  expired   1008
5         Clothing   funded   8401
6     Construction  expired    162
7     Construction   funded   1698
8        Education  expired     97
9        Education   funded   9759
10   Entertainment  expired     11
11   Entertainment   funded    154
12            Food  expired   3160
13            Food   funded  32436
14          Health  expired    687
15          Health   funded   4498
16         Housing  expired    809
17         Housing   funded  10957
18   Manufacturing  expired     10
19   Manufacturing   funded   1534
20    Personal Use  expired    276
21    Personal Use   funded   8165
22          Retail  expired   3201
23          Retail   funded  25205
24        Services  expired   1334
25        Services   funded  12475
26  Transportation  expired    784
27  Transportation   funded   3311
28       Wholesale  expired      7
29       Wholesale   funded    162

In [15]:
import sklearn
print(sklearn.__version__)

0.21.3

In [0]:
from sklearn.model_selection import train_test_split

stratified_sample, _ = train_test_split(df2017, test_size=0.999, stratify=population[['income', 'sex', 'age']])

In [0]:
import pandas as pd
import numpy as np

df=pd.read_csv(my_folder+'loans_v2.csv')

df[['POSTED_TIME','PLANNED_EXPIRATION_TIME','DISBURSE_TIME','RAISED_TIME','REPORT_DT']] = \
df[['POSTED_TIME','PLANNED_EXPIRATION_TIME','DISBURSE_TIME','RAISED_TIME','REPORT_DT']].apply(pd.to_datetime)

df[df.select_dtypes(include=['int']).columns]=df[df.select_dtypes(include=['int']).columns].apply(pd.to_numeric,downcast='unsigned')

df[df.select_dtypes(include=['float']).columns]=df[df.select_dtypes(include=['float']).columns].apply(pd.to_numeric,downcast='float')

df[['ORIGINAL_LANGUAGE','STATUS','ACTIVITY_NAME','SECTOR_NAME','COUNTRY_CODE','COUNTRY_NAME','CURRENCY_POLICY','CURRENCY','REPAYMENT_INTERVAL','DISTRIBUTION_MODEL']]=\
df[['ORIGINAL_LANGUAGE','STATUS','ACTIVITY_NAME','SECTOR_NAME','COUNTRY_CODE','COUNTRY_NAME','CURRENCY_POLICY','CURRENCY','REPAYMENT_INTERVAL','DISTRIBUTION_MODEL']].astype('category')

In [0]:
df.info()

In [16]:
df2017.shape
df2018.shape

(196075, 79)

(187917, 81)

In [0]:
import dask.dataframe as dd
df2=dd.read_csv(my_folder+'loans_v2.csv')

## Load dataset

### study how can further reduce the amount of data used when defining the pandas dataframe, 
<br>also to make the analysis easier to read when using certain functions like describe etc.
<br>for 2nd part, consider reading https://www.dataquest.io/blog/pandas-big-data/

In [0]:
import pandas as pd
import numpy as np

In [0]:
#first six rows of data is not part of data so skip it
#df=pd.read_csv('E:/New folder/Google Drive/isha.salleh - backup and sync/kiva data/from build.kiva.org/loans.csv',encoding='ISO-8859-1', skiprows=6)
df=pd.read_csv('/content/drive/My Drive/kiva data/from build.kiva.org/loans.csv',\
               encoding='ISO-8859-1', skiprows=6)

In [0]:
df.info()

Since the code above cause a lot of RAM to be used, we try to change the format of the columns first o reduce RAM usage so that more can be used for calculation afterwards.
<br>This is done in the next 5 cells.

In [0]:
df[['POSTED_TIME','PLANNED_EXPIRATION_TIME','DISBURSE_TIME','RAISED_TIME']] = \
df[['POSTED_TIME','PLANNED_EXPIRATION_TIME','DISBURSE_TIME','RAISED_TIME']].apply(pd.to_datetime)

df['REPORT_DT']=df['REPORT_DT'].apply(pd.to_datetime)

df[df.select_dtypes(include=['int']).columns]=\
df[df.select_dtypes(include=['int']).columns].apply(pd.to_numeric,downcast='unsigned')

df[df.select_dtypes(include=['float']).columns]=\
df[df.select_dtypes(include=['float']).columns].apply(pd.to_numeric,downcast='float')

#MAY WANT TO CONSIDER THE FOLLOWING TOO:borrower_pictured,borrower_genders, town_name
df[['ORIGINAL_LANGUAGE','STATUS','ACTIVITY_NAME','SECTOR_NAME','COUNTRY_CODE',\
    'COUNTRY_NAME','CURRENCY_POLICY','CURRENCY','REPAYMENT_INTERVAL','DISTRIBUTION_MODEL']]=\
df[['ORIGINAL_LANGUAGE','STATUS','ACTIVITY_NAME','SECTOR_NAME','COUNTRY_CODE',\
    'COUNTRY_NAME','CURRENCY_POLICY','CURRENCY','REPAYMENT_INTERVAL','DISTRIBUTION_MODEL']].\
    astype('category')

In [0]:
#see which object type to downcast to categorical type
df[df.select_dtypes(include=['object']).columns].describe().T

In [0]:
#check back usage after downcasting
df.info()

In [0]:
#generate table to determine what is inside the df
#might wanna put this in a definition so that can call it again and again
tmp=df[(df['POSTED_YEAR']>=2017) & (df['POSTED_YEAR']<2019)].isnull().sum().reset_index(name='n_miss').rename({'index':'variable'},axis=1) #calculate number of missing values
tmp2=df[(df['POSTED_YEAR']>=2017) & (df['POSTED_YEAR']<2019)].notnull().sum().reset_index(name='n_notmiss').rename({'index':'variable'},axis=1) #calculate number of non-missing values, https://stackoverflow.com/questions/47044183/count-non-null-values-in-pandas
tmp=pd.merge(tmp,tmp2,how='left',left_on='variable',right_on='variable') #join the tables so that can recycle variable name
tmp['n']=tmp['n_miss']+tmp['n_notmiss']
tmp2=df[(df['POSTED_YEAR']>=2017) & (df['POSTED_YEAR']<2019)].nunique().reset_index(name='n_unique').rename({'index':'variable'},axis=1) #calculate number of unique values
tmp=pd.merge(tmp,tmp2,how='left',left_on='variable',right_on='variable')
tmp['miss_rate']=tmp['n_miss']/tmp['n']
tmp['fill_rate']=tmp['n_notmiss']/tmp['n']
tmp['distinct_rate']=tmp['n_unique']/tmp['n']
tmp2=df[(df['POSTED_YEAR']>=2017) & (df['POSTED_YEAR']<2019)].dtypes.reset_index(name='vartype').rename({'index':'variable'},axis=1) #get variable type
tmp=pd.merge(tmp,tmp2,how='left',left_on='variable',right_on='variable')
tmp.to_excel(my_folder+'17_18_dataset_overview.xlsx')
tmp

                       variable  n_miss  ...  distinct_rate              vartype
0                       LOAN_ID       0  ...       1.000000               uint32
1                     LOAN_NAME    1218  ...       0.326574               object
2             ORIGINAL_LANGUAGE    1085  ...       0.000011             category
3                   DESCRIPTION    1085  ...       0.996498               object
4        DESCRIPTION_TRANSLATED    1089  ...       0.996513               object
..                          ...     ...  ...            ...                  ...
68  LOAN_USE_CLEAN_PS_WORDCOUNT       0  ...       0.000077                uint8
69                    REPORT_DT       0  ...       0.876126  datetime64[ns, UTC]
70                  POSTED_YEAR       0  ...       0.000004               uint16
71         N_DAYS_POSTED_RAISED   26742  ...       0.000257               object
72          N_HRS_POSTED_RAISED   26742  ...       0.004023              float32

[73 rows x 9 columns]

In [0]:
df[(df['POSTED_YEAR']>=2017) & (df['POSTED_YEAR']<2019)].info()

In [0]:
#generate descriptive statistics
#df[(df['POSTED_YEAR']>=2017) & (df['POSTED_YEAR']<2019)].describe(percentiles=[.01,.05,.1,.25,.5,.75,.9,.95,.99]).\
#T.to_excel(my_folder+'1718_numeric_descstat.xlsx')
#df[(df.select_dtypes(include=['object']).columns)].loc[(df['POSTED_YEAR']>=2017) & (df['POSTED_YEAR']<2019)].\
#describe().T.to_excel(my_folder+'1718_object_descstat.xlsx')
#df[(df.select_dtypes(include=['datetimetz']).columns)].loc[(df['POSTED_YEAR']>=2017) & (df['POSTED_YEAR']<2019)].\
#describe().T.to_csv(my_folder+'1718_datetime_descstat.csv')
df[(df.select_dtypes(include=['category']).columns)].loc[(df['POSTED_YEAR']>=2017) & (df['POSTED_YEAR']<2019)].\
describe().T.to_excel(my_folder+'1718_category_descstat.xlsx')

In [0]:
#store the processes above as a python function
def data_overview(data):
  tmp=data.isnull().sum().reset_index(name='n_miss').rename({'index':'variable'},axis=1) #calculate number of missing values
  tmp2=data.notnull().sum().reset_index(name='n_notmiss').rename({'index':'variable'},axis=1) #calculate number of non-missing values, https://stackoverflow.com/questions/47044183/count-non-null-values-in-pandas
  tmp=pd.merge(tmp,tmp2,how='left',left_on='variable',right_on='variable') #join the tables so that can recycle variable name
  tmp['n']=tmp['n_miss']+tmp['n_notmiss']
  tmp2=data.nunique().reset_index(name='n_unique').rename({'index':'variable'},axis=1) #calculate number of unique values
  tmp=pd.merge(tmp,tmp2,how='left',left_on='variable',right_on='variable')
  tmp['miss_rate']=tmp['n_miss']/tmp['n']
  tmp['fill_rate']=tmp['n_notmiss']/tmp['n']
  tmp['distinct_rate']=tmp['n_unique']/tmp['n']
  tmp2=data.dtypes.reset_index(name='vartype').rename({'index':'variable'},axis=1) #get variable type
  tmp=pd.merge(tmp,tmp2,how='left',left_on='variable',right_on='variable')
  #tmp.to_excel(my_folder+'dataset_overview.xls')
  return tmp

In [0]:
df.head()

## Feature Engineering

### Generate additional fields for analysis purposes

-might also be used in the results part depending on how i see the direction of the research report?
<br>-<DEL>borrower genders into number of males, number of females and number of borrowers</del>
<br><del>-borrower_pictured into number_of_borrowers_pictured (actually can drop this idea coz shown below same to number of borrowers)</del>
<br>-number of sentences, <del>number of words</del> in description and description_translated
-[don't feel like the number of sentences is achievable, coz dots were also used for name short forms.]
<br><del>-combine description to description_translated for english to increase fill rate, call description_new.
<br>-number of words in loan use
<br>-number of words in  activity name</del>

In [0]:
#check number of rows in the dataset
df['DESC_TRANSLATED_WORDCOUNT'] = df['DESCRIPTION_TRANSLATED'].str.split().str.len() #https://stackoverflow.com/questions/37483470/how-to-calculate-number-of-words-in-a-string-in-dataframe
#df['DESC_TRANSLATED_SENTENCE_COUNT'] = df['DESCRIPTION_TRANSLATED'].str.split().str.len()
#derive variable counting number of description to identify duplicates
df['DESC_WORDCOUNT'] = df['DESCRIPTION'].str.split().str.len()
#derive variable counting number of description to identify duplicates

df['DESCRIPTION_NEW'] = np.where(df['ORIGINAL_LANGUAGE']=='English', df['DESCRIPTION'], df['DESCRIPTION_TRANSLATED'])   #combine description and description_translated
df['DESC_NEW_WORDCOUNT'] = df['DESCRIPTION_NEW'].str.split().str.len()
#derive variable to count number of description to identify duplicates

df['LOAN_USE_WORDCOUNT'] = df['LOAN_USE'].str.split().str.len()
df['AVY_NAME_WORDCOUNT'] = df['ACTIVITY_NAME'].str.split().str.len()

#df['DESC_WORDCOUNT'].value_counts(ascending=True).to_csv(my_folder+'desc_wordcount.csv')
#df['DESC_WORDCOUNT'].value_counts(ascending=True).reset_index(name='freq').freq.value_counts().\
#reset_index().freq.describe(percentiles=[.01,.05,.1,.25,.5,.75,.9,.95,.99])#.to_csv(my_folder+'wordcount_freq.csv')

In [0]:
df['AVY_NAME_CLEAN_LM_WORDCOUNT'] = df['AVY_NAME_CLEAN_LEMMA'].str.split().str.len()
df['AVY_NAME_CLEAN_PS_WORDCOUNT'] = df['AVY_NAME_CLEAN_PS'].str.split().str.len()

df['TAGS_CLEAN_LM_WORDCOUNT'] = df['TAGS_CLEAN_LEMMA'].str.split().str.len()
df['TAGS_CLEAN_PS_WORDCOUNT'] = df['TAGS_CLEAN_PS'].str.split().str.len()

df['LOAN_USE_CLEAN_LM_WORDCOUNT'] = df['LOAN_USE_CLEAN_LEMMA'].str.split().str.len()
df['LOAN_USE_CLEAN_PS_WORDCOUNT'] = df['LOAN_USE_CLEAN_PS'].str.split().str.len()

In [0]:
tmp=df[(df['POSTED_YEAR']>=2017) & (df['POSTED_YEAR']<2019)].groupby('DESCRIPTION_TRANSLATED').size().reset_index(name='N_DESC_TRANSLATED')
tmp.shape
tmp=df[(df['POSTED_YEAR']>=2017) & (df['POSTED_YEAR']<2019)].groupby('DESCRIPTION').size().reset_index(name='N_DESC_TRANSLATED')
tmp.shape
tmp=df[(df['POSTED_YEAR']>=2017) & (df['POSTED_YEAR']<2019)].groupby('DESCRIPTION_NEW').size().reset_index(name='N_DESC_TRANSLATED')
tmp.shape

(453520, 2)

(453513, 2)

(453523, 2)

In [0]:
#count number of repeated description
#https://pandas.pydata.org/pandas-docs/stable/getting_started/comparison/comparison_with_sql.html
#tmp=df.groupby('DESCRIPTION_TRANSLATED').size().reset_index(name='N_DESC_TRANSLATED')
#df=pd.merge(df,tmp,how='left',left_on='DESCRIPTION_TRANSLATED',right_on='DESCRIPTION_TRANSLATED')

#tmp=df.groupby('DESCRIPTION').size().reset_index(name='N_DESC')
#df=pd.merge(df,tmp,how='left',left_on='DESCRIPTION',right_on='DESCRIPTION')

tmp=df[(df['POSTED_YEAR']>=2017) & (df['POSTED_YEAR']<2019)].groupby('DESCRIPTION_NEW').size().reset_index(name='N_DESC_NEW')
#df=pd.merge(df,tmp,how='left',left_on='DESCRIPTION_NEW',right_on='DESCRIPTION_NEW')

In [0]:
tmp['N_DESC_NEW'].value_counts().reset_index()#.shape

#tmp=tmp.drop(columns=['percent'],axis=1)

In [0]:
df['N_BORROWERS'] = df['BORROWER_GENDERS'].str.split().str.len()
df['N_BORROWERS2'] = df['BORROWER_PICTURED'].str.split().str.len() #created as cross-check against variable built above
df['GROUP_LOANS']=np.where(df['N_BORROWERS']>1,"group","individual")

df['N_TAGS'] = df['TAGS'].str.split().str.len()

df['N_F_BORROWERS']=df['BORROWER_GENDERS'].str.lower().str.count("female")
df['N_M_BORROWERS']=df['N_BORROWERS']-df['N_F_BORROWERS']

df['HAVE_PICTURE']=np.where(df['IMAGE_ID'].isnull(),0,1)
df['HAVE_VIDEO']=np.where(df['VIDEO_ID'].isnull(),0,1)
df['N_BORROWERS_PICTURED']=df['BORROWER_PICTURED'].str.lower().str.count("true")  #n borrowers pictured
#df['BORROWER_GENDERS'].head(5)

In [0]:
df['N_TAGS'] = df['TAGS'].str.split().str.len()

In [0]:
#how come some descriptions are repeated???
df['DESCRIPTION_NEW'].isnull().sum()
df['DESCRIPTION_NEW'].notnull().sum()
df['DESCRIPTION_NEW'].nunique()
df.shape

65727

1617063

1613241

(1682790, 35)

In [0]:
#to use as a way to countercheck success in fundraising activity on Kiva.org
#if -ve then unsuccessful and we should expect this to tally with STATUS='REFUNDED/EXPIRED'
#if value >=0 means it is successful
#at the same time can inspect of the value can exceed 0:
##would like to expect that the value will never exceed 0
##once the requested amount have been fulfilled then the funding for that particular loan closes
df['D_RAISED_LOANED']=df['FUNDED_AMOUNT']-df['LOAN_AMOUNT']

In [0]:
#https://stackoverflow.com/questions/33575587/pandas-dataframe-how-to-apply-describe-to-each-group-and-add-to-new-columns
#df2 = 
pd.DataFrame(group.describe().rename(columns={'AVG_LOAN_PER_LENDER':name}).squeeze()
                         for name, group in df[['STATUS','AVG_LOAN_PER_LENDER']].loc[(df['POSTED_YEAR'])>=2017 & (df['POSTED_YEAR']<2019)].groupby('STATUS'))

                 count       mean         std  ...        50%        75%       max
expired        75136.0  39.906189   25.545860  ...  30.555555  43.750000    750.00
fundRaising     3833.0  27.509821    9.459307  ...  25.000000  26.282051    356.25
funded       1592264.0  57.378891  165.479568  ...  30.882353  40.625000  10000.00
refunded        7024.0  38.571842   60.466969  ...  29.166666  35.714287   3000.00

[4 rows x 8 columns]

In [0]:
pd.DataFrame(group.describe().rename(columns={'NUM_LENDERS_TOTAL':name}).squeeze()
                         for name, group in df[['STATUS','NUM_LENDERS_TOTAL']].loc[(df['POSTED_YEAR'])>=2017 & (df['POSTED_YEAR']<2019)].groupby('STATUS'))

                 count       mean        std  min  25%   50%   75%     max
expired        76561.0  16.940805  18.398809  0.0  7.0  12.0  21.0  1595.0
fundRaising     6436.0   5.545059  12.529784  0.0  0.0   2.0   5.0   202.0
funded       1592264.0  21.921805  28.721252  1.0  8.0  14.0  27.0  3234.0
refunded        7529.0  20.202816  30.468694  0.0  5.0  13.0  27.0  1310.0

In [0]:
df['AVG_LOAN_PER_LENDER']=np.where(df['NUM_LENDERS_TOTAL']==0,1,df['FUNDED_AMOUNT']/df['NUM_LENDERS_TOTAL'])
#df['AVG_LOAN_PER_LENDER']=df['FUNDED_AMOUNT']/df['NUM_LENDERS_TOTAL']

df[['AVG_LOAN_PER_LENDER']].loc[(df['POSTED_YEAR']>=2017) & (df['POSTED_YEAR']<2019)].describe(percentiles=[.01, .05, .1, .25, .5, .75, .9, .95, .99]).T
df['AVG_LOAN_PER_LENDER'].isnull().sum()

                        count       mean         std  ...    95%    99%      max
AVG_LOAN_PER_LENDER  455107.0  77.268379  213.163223  ...  275.0  625.0  10000.0

[1 rows x 14 columns]

0

In [0]:
df.to_csv(my_folder+'loans_v2.csv')

### generate additional time related fields
-understanding the time frame in the data downloaded
<br>-suspect that RAISED_TIME is time when a loan is fully funded by Kiva lenders on Kiva
<br>--if this is true, then the dates should always be later than POSTED_TIME, which is time when a loan is posted by FP for fundraising in Kiva.
<br><del>-compare POSTED_TIME and DISBURSED_TIME as a way to check which loans have been disbursed first from FP to borrower</del> coded 
<br>-suspect that PLANNED_EXPIRATION_TIME is the time allocated/targeted to raise the fund
<br>--if the above is true then this value should be really small (not more than 3 months)
<br><del>-compare PLANNED_EXPIRATION_TIME and DISBURSED_TIME, and PLANNED_EXPIRATION_TIME and POSTED_TIME</del> coded 
<br>--to verify whether PLANNED_EXPIRATION_TIME is same as LENDER_TERM or different
<BR>--if above is true then then LENDER_TERM should have a value closely associated with one of the calculated fields

In [0]:
#library to be used
#http://www.rohitschauhan.com/index.php/2018/06/13/python-date-manipulation-for-sas-users/
import datetime as dt
import numpy as np
import re
import string

In [0]:
#calculate the time fields
#end_date_series.dt.to_period('M') - start_date_series.dt.to_period('M') 

#suspect that RAISED_TIME is time when a loan is fully funded by Kiva lenders on Kiva
##if this is true, then the dates should always be later than POSTED_TIME,
##which is time when a loan is posted by FP for fundraising in Kiva.
df['N_MTH_POSTED_RAISED']=df['RAISED_TIME'].dt.to_period('M') - df['POSTED_TIME'].dt.to_period('M')

#compare POSTED_TIME and DISBURSED_TIME as a way to check which loans have been disbursed first from FP to borrower 
df['N_MTH_DISBURSED_POSTED']=df['POSTED_TIME'].dt.to_period('M')-df['DISBURSE_TIME'].dt.to_period('M') #should have more +ve values here

#compare PLANNED_EXPIRATION_TIME and DISBURSED_TIME, and PLANNED_EXPIRATION_TIME and POSTED_TIME 
##to verify whether PLANNED_EXPIRATION_TIME is same as LENDER_TERM or different
df['N_MTH_DISBURSED_EXPIRE']=df['PLANNED_EXPIRATION_TIME'].dt.to_period('M')-df['DISBURSE_TIME'].dt.to_period('M')
df['N_MTH_POSTED_EXPIRE']=df['PLANNED_EXPIRATION_TIME'].dt.to_period('M')-df['POSTED_TIME'].dt.to_period('M')

/usr/local/lib/python3.6/dist-packages/pandas/core/arrays/datetimes.py:1269: UserWarning:

Converting to PeriodArray/Index representation will drop timezone information.

In [0]:
#https://stackoverflow.com/questions/43876281/extract-all-numeric-characters-from-a-pandas-series-all-groups
#x['clean'] = x.phone.str.replace(r'\D+', '')

#df['N_MTH_POSTED_RAISED']=df['N_MTH_POSTED_RAISED'].str.replace(r'\D+','')
#df['N_MTH_DISBURSED_POSTED']=df['N_MTH_DISBURSED_POSTED'].str.replace(r'\D+','')
#df['N_MTH_DISBURSED_EXPIRE']=df['N_MTH_DISBURSED_EXPIRE'].str.replace(r'\D+','')
#df['N_MTH_POSTED_EXPIRE']=df['N_MTH_POSTED_EXPIRE'].str.replace(r'\D+','')

df[['N_MTH_POSTED_RAISED','N_MTH_DISBURSED_POSTED','N_MTH_DISBURSED_EXPIRE','N_MTH_POSTED_EXPIRE']]=\
df[['N_MTH_POSTED_RAISED','N_MTH_DISBURSED_POSTED','N_MTH_DISBURSED_EXPIRE','N_MTH_POSTED_EXPIRE']].apply(pd.to_numeric)

df[['N_MTH_POSTED_RAISED','N_MTH_DISBURSED_POSTED','N_MTH_DISBURSED_EXPIRE','N_MTH_POSTED_EXPIRE']].head(10)
df[['N_MTH_POSTED_RAISED','N_MTH_DISBURSED_POSTED','N_MTH_DISBURSED_EXPIRE','N_MTH_POSTED_EXPIRE']].dtypes

In [0]:
df['REPORT_DT'] = df['POSTED_TIME'] + pd.offsets.MonthEnd()
df[['REPORT_DT']].head()

In [0]:
#checkpoint
df.to_csv(my_folder+'loans_v2.csv',index=False)

In [0]:
#https://pandas.pydata.org/pandas-docs/stable/getting_started/comparison/comparison_with_sas.html
#split the date information by year, month  
#try to consider time of day, week of month, week of year, day (Sun-Fri)
#do this based on posted_time
df['POSTED_YEAR'] = df['POSTED_TIME'].dt.year
df[['POSTED_YEAR']].head()

In [0]:
#https://stackoverflow.com/questions/51287504/remove-the-time-from-datetime-datetime-in-pandas-column
#http://www.datasciencemadesimple.com/difference-two-timestamps-seconds-minutes-hours-pandas-python-2/
#from datetime import date

#d0 = date(2008, 8, 18)
#d1 = date(2008, 9, 26)
#delta = d1 - d0
#print(delta.days)

df['N_DAYS_POSTED_RAISED']=df['RAISED_TIME'].dt.date - df['POSTED_TIME'].dt.date

#compare POSTED_TIME and DISBURSED_TIME as a way to check which loans have been disbursed first from FP to borrower 
#df['N_DAYS_DISBURSED_POSTED']=df['POSTED_TIME'].dt.date - df['DISBURSE_TIME'].dt.date #should have more +ve values here
df['N_HRS_POSTED_RAISED']=((df['RAISED_TIME']-df['POSTED_TIME'])/np.timedelta64(1,'h')).round()

df[['N_HRS_POSTED_RAISED','N_DAYS_POSTED_RAISED']].head()

   N_HRS_POSTED_RAISED N_DAYS_POSTED_RAISED
0                 13.0               0 days
1                215.0               9 days
2                 25.0               1 days
3                 15.0               0 days
4                118.0               5 days

## Descriptive statistics

### Analyze which columns are not important and drop them.
<br>later save the new dataset with only important column in focus for the report to make it easier to work with and reduce RAM usage.
<br>after all we may need to keep the RAM usage for the association rule analysis etc.

In [0]:
#try to understand numeric variables but problematic, may want to downcast some variable types to make this table easier to read?
df.describe()

In [0]:
#see fields considered to be thrown away
df['BORROWER_PICTURED'].value_counts()
df['NUM_BULK_ENTRIES'].value_counts()
df['CURRENCY_POLICY'].value_counts()
df['CURRENCY_EXCHANGE_COVERAGE_RATE'].value_counts()

In [0]:
df['DISTRIBUTION_MODEL'].value_counts()
df['REPAYMENT_INTERVAL'].value_counts()
df['STATUS'].value_counts()

In [0]:
#drop columns that have been analyzed as not important.... then save it as new csv file
#allow to rework just from there....
df.shape
df=df.drop(['ORIGINAL_LANGUAGE','DESCRIPTION','IMAGE_ID','VIDEO_ID','COUNTRY_CODE','CURRENCY_POLICY','CURRENCY_EXCHANGE_COVERAGE_RATE',\
            'CURRENCY','PARTNER_ID','LENDER_TERM','NUM_JOURNAL_ENTRIES','NUM_BULK_ENTRIES','BORROWER_GENDERS','BORROWER_PICTURED',\
            'REPAYMENT_INTERVAL','DISTRIBUTION_MODEL'], axis=1)
df.shape
#df.to_csv('E:/New folder/Google Drive/isha.salleh - backup and sync/kiva data/from build.kiva.org/loans_v2.csv',index=False)
df.to_csv('/content/drive/My Drive/kiva data/from build.kiva.org/loans_v3.csv',index=False)

(1682790, 34)

(1682790, 18)

In [0]:
#check column dates
df.groupby(df['InvoiceDate'].dt.strftime('%B %Y'))['Revenue'].sum().sort_values()

### freq dist generation to check for the columns with text for possible words to be cleaned up or removed.

In [0]:
#https://stackoverflow.com/questions/46786211/counting-the-frequency-of-words-in-a-pandas-data-frame
#df.ACTIVITY_NAME.str.split(expand=True).stack().value_counts().to_excel(my_folder+'avy_name_wordfreq.xls')
#df.LOAN_USE.str.split(expand=True).stack().value_counts().to_excel(my_folder+'loan_use_wordfreq.xlsx')
df.DESCRIPTION.str.split(expand=True).stack().value_counts().to_excel(my_folder+'desc_wordfreq.xlsx')
df.DESCRIPTION_NEW.str.split(expand=True).stack().value_counts().to_excel(my_folder+'desc_new_wordfreq.xlsx')
df.DESCRIPTION_TRANSLATED.str.split(expand=True).stack().value_counts().to_excel(my_folder+'desc_trans_wordfreq.xlsx')

In [0]:
df.TAGS.str.split(expand=True).stack().value_counts().to_excel(my_folder+'tags_wordfreq.xlsx')

In [0]:
df_2018=pd.read_csv(my_folder+'loans_2018.csv')
df_2017=pd.read_csv(my_folder+'loans_2017.csv')

In [0]:
df_2018.DESC_NEW_CLEAN_LEMMA.str.split(expand=True).stack().value_counts().to_excel(my_folder+'2018_descnew_lemma_wordfreq.xlsx')
df_2017.DESC_NEW_CLEAN_LEMMA.str.split(expand=True).stack().value_counts().to_excel(my_folder+'2017_descnew_lemma_wordfreq.xlsx')

df_2018.DESC_NEW_CLEAN_PS.str.split(expand=True).stack().value_counts().to_excel(my_folder+'2018_descnew_ps_wordfreq.xlsx')
df_2017.DESC_NEW_CLEAN_PS.str.split(expand=True).stack().value_counts().to_excel(my_folder+'2017_descnew_ps_wordfreq.xlsx')

In [0]:
#df['DESC_WORDCOUNT'].value_counts(ascending=True).to_csv(my_folder+'desc_wordcount.csv')
df['DESC_WORDCOUNT'].value_counts(ascending=True).reset_index(name='freq').freq.value_counts().\
#reset_index().freq.describe(percentiles=[.01,.05,.1,.25,.5,.75,.9,.95,.99])#.to_csv(my_folder+'wordcount_freq.csv')

## run the code below will need very high RAM

In [0]:
#from IPython.display import display, HTML
#RAM consuming so cannot use this, try explore an option from nltk, or remove stopwords first
df.DESCRIPTION_TRANSLATED.str.split(expand=True).stack().value_counts().to_frame().reset_index()#.\
#to_csv('/content/drive/My Drive/kiva data/check description field from loans file.csv')
#HTML(df3Desc.to_html())

In [0]:
#MAY WANT TO CONSIDER THE FOLLOWING TOO:borrower_pictured,borrower_genders, town_name
df[['STATUS','ACTIVITY_NAME','SECTOR_NAME','COUNTRY_NAME']]=\
df[['STATUS','ACTIVITY_NAME','SECTOR_NAME','COUNTRY_NAME']].astype('category')